#qualified-embed {
  position: relative;
  max-width: 100%;
  width: 100em;
  display: flex;
  resize: both;
  overflow: hidden;
  height: 60vh;
  margin: 0 auto;
}
#qualified-embed iframe {
  border: none;
  flex-grow: 1;
}
