@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic");

:root {
  /* Primary Brand Colors */
  --brand-primary: #6ABE79;
  --brand-primary-dark: #4BB05D;
  --brand-primary-darker: #448844;
  --brand-complement: #28A27A;
  --brand-complement-bg: #F2F6F7;
  --brand-complement-medium: #535F72;
  --brand-complement-dark: #262F34;

  /* Alert Colors */
  --brand-info: #498DB1;
  --brand-success: var(--brand-primary-dark);
  --brand-warning: #EEB854;
  --brand-danger: #B63D4C;

  /* Text Colors */
  --body-bg: var(--brand-complement-bg);
  --text-color: var(--brand-complement-dark);

  --text-code-bg: #fcfcfc;
  --text-code-color: #353536;

  --link-color: var(--brand-primary-darker);
  --link-hover-color: var(--brand-primary-dark);

  --border-color: #dae2e5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--body-bg);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--link-hover-color);
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.button {
  display: inline-block;
  padding: 2px 8px;
  border: 1px solid var(--link-color);
  border-radius: 2px;
  min-width: 10em;
  transition: all .2s ease-in-out;
  background-color: #FFF;
  color: var(--link-color);
  line-height: inherit;
  font-size: inherit;
}
.button:not([disabled]):hover,
.button:not([disabled]):focus {
  text-decoration: none;
  color: #FFF;
  background: var(--link-hover-color);
  border-color: var(--link-hover-color);
  cursor: pointer;
}
.button[disabled] {
  border-color: transparent;
  color: var(--brand-complement-medium);
}
.button + .button {
  margin-left: 10px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: var(--text-code-color);
  background-color: var(--text-code-bg);
  border-radius: 3px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: var(--text-code-color);
  background-color: var(--text-code-bg);
  border: 1px solid #e0e7ea;
  border-radius: 3px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

header {
  background: var(--brand-primary-dark) linear-gradient(to bottom right, var(--brand-complement), var(--brand-primary-dark));
  color: #FFF;
  padding: 10px 20px;
}

header h1 {
  position: relative;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  display: inline-block;
  min-height: 1em;
  width: 5.674em;
  background-image: url('data:image/svg+xml;utf8,<svg width="539" height="95" viewBox="0 0 539 95" xmlns="http://www.w3.org/2000/svg"><g fill="%23FFF"><path d="M94.79 94H45.014c-6.1 0-11.875-1.098-17.324-3.294-5.45-2.196-10.207-5.246-14.274-9.15-4.067-3.904-7.28-8.56-9.638-13.969C1.419 62.178.24 56.261.24 49.836c0-6.344 1.139-12.22 3.416-17.629 2.277-5.409 5.429-10.106 9.455-14.091 4.026-3.985 8.743-7.096 14.152-9.333 5.409-2.237 11.285-3.355 17.629-3.355 6.1 0 11.814 1.098 17.141 3.294 5.327 2.196 9.984 5.226 13.969 9.089 3.985 3.863 7.137 8.418 9.455 13.664 2.318 5.246 3.477 10.96 3.477 17.141 0 3.66-.427 7.259-1.281 10.797-.854 3.538-2.115 6.852-3.782 9.943a34.626 34.626 0 0 1-6.222 8.296 29.82 29.82 0 0 1-8.479 5.856v.244h25.62V94zM44.526 83.02c4.717 0 9.048-.874 12.993-2.623 3.945-1.749 7.32-4.148 10.126-7.198 2.806-3.05 4.982-6.649 6.527-10.797 1.545-4.148 2.318-8.58 2.318-13.298 0-4.555-.793-8.825-2.379-12.81-1.586-3.985-3.802-7.442-6.649-10.37-2.847-2.928-6.222-5.246-10.126-6.954-3.904-1.708-8.174-2.562-12.81-2.562-4.555 0-8.764.854-12.627 2.562-3.863 1.708-7.218 4.026-10.065 6.954-2.847 2.928-5.083 6.364-6.71 10.309-1.627 3.945-2.44 8.154-2.44 12.627 0 4.717.773 9.15 2.318 13.298s3.721 7.767 6.527 10.858c2.806 3.09 6.161 5.53 10.065 7.32s8.215 2.684 12.932 2.684zM155.546 94h-10.98v-8.906h-.244c-1.383 3.09-3.782 5.592-7.198 7.503-3.416 1.911-7.36 2.867-11.834 2.867-2.847 0-5.53-.427-8.052-1.281a18.113 18.113 0 0 1-6.649-3.965c-1.911-1.79-3.436-4.087-4.575-6.893-1.139-2.806-1.708-6.12-1.708-9.943v-37.21h10.98v34.16c0 2.684.366 4.982 1.098 6.893.732 1.911 1.708 3.457 2.928 4.636a10.987 10.987 0 0 0 4.209 2.562c1.586.529 3.233.793 4.941.793 2.277 0 4.392-.366 6.344-1.098 1.952-.732 3.66-1.891 5.124-3.477 1.464-1.586 2.603-3.599 3.416-6.039.813-2.44 1.22-5.327 1.22-8.662V36.172h10.98V94zm16.836-50.752c3.09-2.847 6.67-4.982 10.736-6.405 4.067-1.423 8.133-2.135 12.2-2.135 4.23 0 7.869.529 10.919 1.586 3.05 1.057 5.551 2.48 7.503 4.27 1.952 1.79 3.396 3.843 4.331 6.161a19.22 19.22 0 0 1 1.403 7.259v29.524c0 2.033.04 3.904.122 5.612.081 1.708.203 3.335.366 4.88h-9.76a105.728 105.728 0 0 1-.366-8.784h-.244c-2.44 3.741-5.327 6.385-8.662 7.93-3.335 1.545-7.198 2.318-11.59 2.318-2.684 0-5.246-.366-7.686-1.098-2.44-.732-4.575-1.83-6.405-3.294s-3.274-3.274-4.331-5.429c-1.057-2.155-1.586-4.656-1.586-7.503 0-3.741.834-6.873 2.501-9.394 1.667-2.521 3.945-4.575 6.832-6.161 2.887-1.586 6.263-2.725 10.126-3.416 3.863-.691 7.991-1.037 12.383-1.037h8.052v-2.44c0-1.464-.285-2.928-.854-4.392a11.858 11.858 0 0 0-2.562-3.965c-1.139-1.18-2.562-2.115-4.27-2.806-1.708-.691-3.741-1.037-6.1-1.037-2.115 0-3.965.203-5.551.61-1.586.407-3.03.915-4.331 1.525a19.012 19.012 0 0 0-3.538 2.135 314.619 314.619 0 0 1-3.05 2.318l-6.588-6.832zm30.988 22.936c-2.603 0-5.266.142-7.991.427-2.725.285-5.205.834-7.442 1.647-2.237.813-4.067 1.952-5.49 3.416s-2.135 3.335-2.135 5.612c0 3.335 1.118 5.734 3.355 7.198 2.237 1.464 5.266 2.196 9.089 2.196 3.01 0 5.571-.508 7.686-1.525s3.823-2.338 5.124-3.965a15.366 15.366 0 0 0 2.806-5.429c.57-1.993.854-3.965.854-5.917v-3.66h-5.856zm32.94-64.416h10.98V94h-10.98V1.768zm29.28 34.404h10.98V94h-10.98V36.172zm-2.562-20.74c0-2.196.793-4.087 2.379-5.673 1.586-1.586 3.477-2.379 5.673-2.379s4.087.793 5.673 2.379c1.586 1.586 2.379 3.477 2.379 5.673s-.793 4.087-2.379 5.673c-1.586 1.586-3.477 2.379-5.673 2.379s-4.087-.793-5.673-2.379c-1.586-1.586-2.379-3.477-2.379-5.673zm35.258 30.256h-12.444v-9.516h12.444V23.24c0-7.727 1.484-13.481 4.453-17.263 2.969-3.782 8.072-5.673 15.311-5.673 1.22 0 2.501.04 3.843.122 1.342.081 2.786.325 4.331.732l-1.22 9.76a15.718 15.718 0 0 0-3.05-.854 19.324 19.324 0 0 0-3.172-.244c-2.033 0-3.66.305-4.88.915a6.879 6.879 0 0 0-2.867 2.623c-.691 1.139-1.139 2.501-1.342 4.087-.203 1.586-.305 3.396-.305 5.429v13.298h13.054v9.516h-13.176V94h-10.98V45.688zm37.21-9.516h10.98V94h-10.98V36.172zm-2.562-20.74c0-2.196.793-4.087 2.379-5.673 1.586-1.586 3.477-2.379 5.673-2.379s4.087.793 5.673 2.379c1.586 1.586 2.379 3.477 2.379 5.673s-.793 4.087-2.379 5.673c-1.586 1.586-3.477 2.379-5.673 2.379s-4.087-.793-5.673-2.379c-1.586-1.586-2.379-3.477-2.379-5.673zm39.284 53.68c0 2.521.549 4.819 1.647 6.893a17.15 17.15 0 0 0 4.331 5.307c1.79 1.464 3.863 2.603 6.222 3.416a22.298 22.298 0 0 0 7.32 1.22c3.416 0 6.385-.793 8.906-2.379 2.521-1.586 4.84-3.68 6.954-6.283l8.296 6.344c-6.1 7.89-14.64 11.834-25.62 11.834-4.555 0-8.682-.773-12.383-2.318-3.7-1.545-6.832-3.68-9.394-6.405-2.562-2.725-4.534-5.937-5.917-9.638-1.383-3.7-2.074-7.706-2.074-12.017 0-4.31.752-8.316 2.257-12.017 1.505-3.7 3.579-6.913 6.222-9.638 2.643-2.725 5.795-4.86 9.455-6.405s7.645-2.318 11.956-2.318c5.124 0 9.455.895 12.993 2.684 3.538 1.79 6.446 4.128 8.723 7.015 2.277 2.887 3.924 6.14 4.941 9.76a40.639 40.639 0 0 1 1.525 11.041v3.904h-46.36zm34.648-8.784c-.081-2.44-.468-4.677-1.159-6.71-.691-2.033-1.728-3.802-3.111-5.307-1.383-1.505-3.111-2.684-5.185-3.538-2.074-.854-4.494-1.281-7.259-1.281-2.684 0-5.144.508-7.381 1.525s-4.128 2.338-5.673 3.965a18.312 18.312 0 0 0-3.599 5.429c-.854 1.993-1.281 3.965-1.281 5.917h34.648zM489.704 94h-10.98v-8.296h-.244c-2.115 3.09-5.022 5.49-8.723 7.198-3.7 1.708-7.503 2.562-11.407 2.562-4.473 0-8.52-.773-12.139-2.318-3.62-1.545-6.71-3.7-9.272-6.466-2.562-2.765-4.534-5.978-5.917-9.638s-2.074-7.645-2.074-11.956c0-4.31.691-8.316 2.074-12.017 1.383-3.7 3.355-6.913 5.917-9.638 2.562-2.725 5.653-4.86 9.272-6.405 3.62-1.545 7.666-2.318 12.139-2.318 4.148 0 8.052.874 11.712 2.623s6.466 4.128 8.418 7.137h.244v-42.7h10.98V94zm-30.012-8.784c2.928 0 5.571-.508 7.93-1.525s4.351-2.4 5.978-4.148c1.627-1.749 2.887-3.863 3.782-6.344.895-2.48 1.342-5.185 1.342-8.113s-.447-5.632-1.342-8.113c-.895-2.48-2.155-4.595-3.782-6.344-1.627-1.749-3.62-3.131-5.978-4.148-2.359-1.017-5.002-1.525-7.93-1.525s-5.571.508-7.93 1.525-4.351 2.4-5.978 4.148c-1.627 1.749-2.887 3.863-3.782 6.344-.895 2.48-1.342 5.185-1.342 8.113s.447 5.632 1.342 8.113c.895 2.48 2.155 4.595 3.782 6.344 1.627 1.749 3.62 3.131 5.978 4.148 2.359 1.017 5.002 1.525 7.93 1.525z"/><circle cx="529.5" cy="13.5" r="9.5"/><circle opacity=".8" cx="529.5" cy="50.5" r="9.5"/><circle opacity=".4" cx="529.5" cy="85.5" r="9.5"/></g></svg>');
  flex: 0 1 auto;
  margin: 0 20px 0 0;
}

header h1 span {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

header h2 {
  flex: 1 1 auto;
  margin: 0;
}

header a {
  flex: 0 1 auto;
  color: #FFF;
  font-weight: bold;
}

header a::before {
  display: inline-block;
  content: '⬅︎';
  opacity: .6;
  text-decoration: none;
  margin-right: .5em;
  transition: all .2s ease-in-out;
}

header a:hover,
header a:focus {
  color: #FFF;
  text-decoration: underline;
}

header a:hover::before,
header a:focus::before {
  opacity: 1;
  text-decoration: none;
  animation: 0.75s ease-in 1 wiggle;
}

@keyframes wiggle {
  0% {
    transform: rotate(9deg);
  }
  10% {
    transform: rotate(-8deg);
  }
  20% {
    transform: rotate(7deg);
  }
  30% {
    transform: rotate(-6deg);
  }
  40% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(3deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 720px) {
  header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

main {
  padding: 20px;
}

main p {
  margin: 0 0 20px;
}

main .description {
  text-align: center;
  max-width: 60em;
  margin: 0 auto 20px;
}
