* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 1em;
}

#framework-chooser a {
  margin-right: 1em;
}

#qualified-embed {
  position: relative;
  height: 60vh;
  width: 100%;
  max-width: 80em;
}

#qualified-embed iframe {
  width: 100%;
  height: 60vh;
  max-width: 80em;
  border: none;
}

